@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url(https://fonts.gstatic.com/s/crimsontext/v8/wlp2gwHKFkZgtmSR3NB0oRJfbwhT.woff2);
@import url(https://fonts.googleapis.com/css?family=Sedgwick+Ave@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Redressed');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Noto+Sans+TC');
html{
	background-color: #98734F;
}

body{
	font:24px/1.5 Crimson Text, sans-serif;
	padding:0;
	margin:0;
	background-color:  #EAF0F2;
}

.cabecalho-basico {
	background-color: #98734F;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	box-sizing: border-box;
}
.cabecalho-inferior{
	background-color: #BF9A76;
	font:24px/1.5 Crimson Text, sans-serif;
	top: 80px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 0px;
	height: 80vh;
	box-sizing: border-box;
	color: #EAF0F2;

	
}

.cabecalho-basico .cabecalho-limite .cabecalho-inferior {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.cabecalho-basico .cabecalho-limite h1 {
	float: left;
	font-family: 24px/1 'Noto Sans TC', sans-serif;
	line-height: 40px;
	margin: 0;
	text-shadow: 2px 2px 2px #aaa;
}

.cabecalho-basico .cabecalho-limite h1 span {
	color: #3D2106;
	font-family: 'Redressed', cursive;
	font-size: 57px;
}

/* Os links do cabeçalho */

.cabecalho-basico .cabecalho-limite a {
	color: #EAF0F2;
	text-decoration: none;
	font-family: 24px/1 'Noto Sans TC', sans-serif;
	text-shadow: 2px 2px 2px #aaa;
}

.cabecalho-basico .cabecalho-limite nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.cabecalho-basico .cabecalho-limite nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
}

.cabecalho-basico .cabecalho-limite nav a:hover{
	opacity: 1;
	color: #5F2F00;
}

.cabecalho-basico .cabecalho-limite nav a.selected {
	color: #3D2106;
	pointer-events: none;
	opacity: 1;
}

.caixa-topico {
	padding: 0px;
	color: #222222;
	box-sizing: border-box;
	width: 310px;
	height: 70vh;
	top: 5vh;
	position: relative;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

.caixa-esquerda {
	
	float: left;
}

.caixa-centro {
	margin: 0 auto;
}

.caixa-direita {
	float: right;
}

img {
	max-width: 300px;
	max-height: 300px;
	top: 5px;
	left: 5px;
	text-align: center;
	position: absolute;
	border-radius: 50%;
	padding: 0px;
	margin: 0 auto;
	

}

.p-caixa{
	color: white;
	width: 310px;
	height: 310px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	padding: 0px;
	margin-top: 50vh;
}

#img {
	width: 310px;
	height: 310px;
	border-radius: 50%;
	position: relative;
	background-color: white;
	padding: 0px;
	display: block;
}